@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.noto-sans-kr-bold {
	font-family: "Noto Sans KR", serif;
	font-optical-sizing: auto;
	font-weight: 900;
	font-style: normal;
}

.noto-sans-kr-regular {
	font-family: "Noto Sans KR", serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}
